@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
:root {
  --primary-color: #3f51b5;
  --url-background: url("../images/header_back.png");
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Be Vietnam Pro", sans-serif;
}
.container-fluid {
  width: 100%;
  background-image: var(--url-background);
  background-position: 0 0;
  background-size: auto;
  background-repeat: repeat;
  height: 80px;
  padding: 0 25px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-weight: 600;
  font-size: 3rem;
}
.buy-coffee > img {
  height: 50px;
}
.main {
  width: 100%;

  background-image: url("../images/main-back.png");
  background-position: 0 0;
  background-size: auto;
  background-repeat: repeat;
  background-color: #f1efe5;
}
.app {
  margin: auto;
  width: 1200px;
  padding: 20px 12px;
}
.controller {
  padding: 20px 40px;
}
.controller-btn {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  cursor: pointer;
}
.controller-select {
}
.controller-random .controller-random-btn,
.controller-select .controller-select-btn {
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  margin-right: 1.5rem;
}
.controller-random .controller-random-btn {
  border-radius: 40px;
}
#musics {
  flex-wrap: wrap;
  row-gap: 20px;
}
.backlinear {
  width: 200px;
  height: 200px;
  /* background-image: linear-gradient(
    115deg,
    #4fcf70,
    #fad648,
    #a767e5,
    #12bcfe,
    #44ce7b
  ); */
  background-size: 200% 200%;
  border-radius: 20px;
  position: relative;
  transition: all ease-in-out 1s;
  animation: backAnimate 2s ease-in-out infinite;
}
.music-btn:hover {
  box-shadow: 0px 0px 30px #827e7e;
  transition: box-shadow 0.3s linear;
}
.music-btn {
  width: 192px;
  height: 192px;
  background-color: #fff;
  background-image: var(--url-background);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  padding: 10px 10px;
  position: absolute;
  z-index: 999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.music-btn > h2 {
  color: rgba(48, 37, 37, 30%);
  text-transform: capitalize;
}
.music-icon {
  font-size: 70px;
  color: rgba(48, 37, 37, 70%);
  text-align: center;
  margin-top: 30px;
}

.music-player {
}
.music-process {
  position: absolute;
  top: 74%;
  z-index: 999;
  display: none;
  width: 80%;
  padding: 2rem 0;
  left: 10%;
}
.music-process > input {
  width: 100%;
  height: 1px;
  cursor: pointer;
}

.shadow {
  box-shadow: 1px 4px 20px #827e7e;
}
@keyframes backAnimate {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.range {
  display: none;
  position: absolute;
  top: 80%;
  height: 30px;
  width: 100%;
  z-index: 9999;
  border-radius: 10px;
  padding: 0 20px;
}
.sliderValue {
  position: relative;
  width: 100%;
}
.sliderValue span {
  position: absolute;
  height: 24px;
  width: 24px;
  transform: translateX(-70%) scale(0);
  font-weight: 500;
  top: -31px;
  line-height: 30px;
  z-index: 2;
  color: #fff;
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
}

.sliderValue span.show {
  transform: translateX(-70%) scale(1);
}
.sliderValue span:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #664aff;
  border: 3px solid #fff;
  z-index: -1;
  left: 32%;
  transform: translateX(-50%) rotate(42deg);
  border-bottom-left-radius: 50%;
  box-shadow: 0px 0px 8px rgb(0 0 0 / 10%);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.field {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}
.field .value {
  position: absolute;
  font-size: 18px;
  color: #664aff;
  font-weight: 600;
}
.field .value.left {
  left: -22px;
}
.field .value.right {
  right: -43px;
}
.range input {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  border: none;
  z-index: 2222;
}
.range input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  background: #664aff;
  border: 1px solid #664aff;
  cursor: pointer;
}
.range input::-moz-range-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  background: #664aff;
  border: 1px solid #664aff;
  cursor: pointer;
}
.range input::-moz-range-progress {
  background: #664aff;
}
